<div class="content" role="main">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

  <div class="mat-elevation-z8">

    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-primary float-end">
          <i class="fal fa-plus"></i> Adicionar
        </a>
      </div>

    <mat-form-field>
      <mat-label class="float-end">Search</mat-label>
      <input matInput placeholder="Search" (keyup)="Filterchage($event)">
    </mat-form-field>
    </div>

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 table table-responsive">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Document Column -->
    <ng-container matColumnDef="document">
      <th mat-header-cell mat-sort-header="" *matHeaderCellDef><i class="fas fa-id-card mx-md-2"></i> Document </th>
      <td mat-cell *matCellDef="let element"> {{element.document}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header="" *matHeaderCellDef><i class="fas fa-envelope mx-md-2"></i> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell mat-sort-header="" *matHeaderCellDef><i class="fas fa-text mx-md-2"></i> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Definitive Column -->
    <ng-container matColumnDef="definitive">
      <th mat-header-cell mat-sort-header="" *matHeaderCellDef><i class="fas fa-lock mx-md-2"></i> Definitivo </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.definitive">
          <i class="fas fa-check-circle text-primary"></i>
        </span>
        <span *ngIf="!element.definitive">
          <i class="fas fa-do-not-enter text-muted"></i>
        </span>
      </td>
    </ng-container>
  
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell mat-sort-header="" *matHeaderCellDef><i class="fas fa-toogle-on mx-md-2" ></i> Status </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.status">
          <i class="fas fa-check-circle text-primary"></i>
        </span>
        <span *ngIf="!element.status">
          <i class="fas fa-do-not-enter text-muted"></i>
        </span>
      </td>
    </ng-container>

    <!-- CreatedDate Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell mat-sort-header="" *matHeaderCellDef><i class="fas fa-calendar-alt mx-md-2"></i> Dt Criação </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- DateStart Column -->
    <ng-container matColumnDef="dateStart">
      <th mat-header-cell mat-sort-header="" *matHeaderCellDef><i class="fas fa-calendar-alt mx-md-2"></i> Dt Início </th>
      <td mat-cell *matCellDef="let element"> {{element.dateStart | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- DateEnd Column -->
    <ng-container matColumnDef="dateEnd">
      <th mat-header-cell mat-sort-header="" *matHeaderCellDef><i class="fas fa-calendar-alt mx-md-2"></i> Dt Fim </th>
      <td mat-cell *matCellDef="let element"> {{element.dateEnd | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef><i class="fas fa-cogs mx-md-2"></i> Actions </th>
      <td mat-cell *matCellDef="let element">
        <a (click)="FunctionEdit(element.id)" mat-icon-button color="primary">Edit
          <i class="fal fa-edit"></i>
        </a>
        | <button (click)="element.id" mat-raised-button color="warn">Delete</button>
      </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
  </mat-paginator>
</div>
  
</div>